<h1> Bulk Discounts </h1>
<h2>Upcoming Holidays</h2>
<% @holidays.each do |holiday| %>
  <div id="holiday-<%=holiday[:name]%>">
    <p> Name: <%= holiday[:name]%></p>
    <p> Date: <%= holiday[:date]%></p>
    <br>
  </div>
<% end %>
<h2>Discounts</h2>
<p><%=link_to "Create Bulk Discount", "/merchants/#{@merchant.id}/bulk_discounts/new"%></p>
<% @bulk_discounts.each do |discount| %>
  <div id="bulk_discount-<%=discount.id %>">
    <p><%=link_to "#{discount.name}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></p>
    <p><%= button_to "Delete", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}",  method: :delete  %></p>
    <p> Discount:<%= (discount.discount)%>%</p>
    <p> Threshold:<%= discount.threshold%></p>
    <br>
  </div>
<% end %>
