<h1>Merchant Invoice Show</h1>

<h3>Invoice Details</h3>
<div id="invoice-<%= @invoice.id %>">
<p>Invoice ID:<%= @invoice.id%><p>
<p>Invoice Status:<%=@invoice.status%> 
<p>Invoice Creation Date:<%=@invoice.created_at.to_time.strftime(' %A, %B %e, %Y')%><p>
<p>Invoice Customer:<%=@invoice.customer.first_name%> <%=@invoice.customer.last_name%><p>
<p>Invoice Total Revenue:<%= @invoice.total_revenue%><p>
</div>

<h2>Items on Invoice</h2>
  <% @invoice.invoice_items.each do |invoice_item| %>
      <div id="invoice-item-<%= invoice_item.id %>">
        <p>Name:<%= invoice_item.item.name%><p>
        <p>Item quantity:<%= invoice_item.quantity%><p>
        <p>Item price:<%= invoice_item.unit_price%><p>
        <p>Item status:<%= invoice_item.status%><p>
        <%= form_with url: " /merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
        <%= f.select :status, ["pending", "packaged", "shipped"], :selected => invoice_item.status%>
        <%= f.submit %>
        <% end %><p>
        <br>
      </div>
  <% end %>
