<h1>Admin Invoice Show</h1>

<h3>Invoice Details</h3>
<div id="invoice-<%= @invoice.id %>">
<p>Invoice ID:<%= @invoice.id%><p>
<p>Invoice Status:<%=@invoice.status%><p>
<p>Invoice Creation Date:<%=@invoice.created_at.to_time.strftime(' %A, %B %e, %Y')%><p>
<p>Invoice Customer:<%=@invoice.customer.first_name%> <%=@invoice.customer.last_name%><p>
<p>Invoice Total Revenue:<%= @invoice.total_revenue%><p>
</div>

<h2>Items on Invoice</h2>
  <% @invoices.invoiceitem.each do |invoice_item| %>
      <div id="invoice-item-<%= invoice_item.id %>">
        <%=link_to "Invoice:#{invoice.id}", "admin/invoice/#{invoice.id}" %>
        <br>
      </div>
  <% end %>