<p> Repo name: <%= @github_service.name %> </p>

<p> User name: austinandrade Commits: <%= @github_service.commits_and_names['austinandrade'] %> </p>
<p> User name: joeyh92989 Commits:  <%= @github_service.commits_and_names['joeyh92989'] %> </p>
<p> User name: joeray100 Commits: <%= @github_service.commits_and_names['joeray100'] %> </p>

<p> Pull Requests: <%= @github_service.pulls %> </p>
