<p> <%= @github_service.name %> </p>

<p> austinandrade Commits: <%= @github_service.commits_and_names['austinandrade'] %> </p>
<p> joeyh92989 Commits:  <%= @github_service.commits_and_names['joeyh92989'] %> </p>
<p> joeray100 Commits: <%= @github_service.commits_and_names['joeray100'] %> </p>

<p> <%= @github_service.pulls %> </p>
