<h1> Enabled Merchants: </h1>
<h2> <% @enabled_merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <%= link_to "#{merchant.name},", {controller: "admin/merchants", action: "show", id: "#{merchant.id}"} %>
    <%= button_to "disable", {controller: "/merchants", action: "update_status", id: "#{merchant.id}", :status => 'disable'} %>
  </div>
  <% end %>
</h2>

<h1> Disabled Merchants: </h1>
<h2> <% @disabled_merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <%= link_to "#{merchant.name},", {controller: "admin/merchants", action: "show", id: "#{merchant.id}"} %>
    <%= button_to "enable", {controller: "/merchants", action: "update_status", id: "#{merchant.id}", :status => 'enable'} %>
  </div>
  <% end %>
</h2>
