  <div id="enabled_items">
    <h1> Enabled Items: </h1>
    <h2> <% @enabled_items.each do |item| %>
      <div id="item-<%= item.id %>">
        <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> <%= item.status %>
        <%= button_to "disable", {controller: "items", action: "update_status", id: "#{item.id}", :status => 'disable'} %>
      </div>
      <% end %>
    </h2>
    <br>
  </div>

  <div id="disabled_items">
    <h1> Disabled Items: </h1>
    <h2> <% @disabled_items.each do |item| %>
      <div id="item-<%= item.id %>">
        <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> <%= item.status %>
        <%= button_to "enable", {controller: "items", action: "update_status", id: "#{item.id}", :status => 'enable'} %>
      </div>
      <% end %>
    </h2>
  </div>
